*
{
    font-family: arial;
}

body
{
    margin: 0px;
}

nav
{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    background-color: aliceblue;
    margin-left: 0px;
    padding-left: 4px;
}

nav a
{
	display: block;
}

.navTitle
{
    font-weight: bold;
}

section
{
    margin: auto;
	display: inline-block;
    vertical-align: top;
	width: 55%;
}
