@font-face {
    font-family: 'pixels';
    src: url('pixels.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
	margin: 0px;
    background-color: #E0FFFF; 
	background-image: url("background.jpg");
	background-repeat : no-repeat;
	background-size: cover; 
}

header
{
	color : #B22222;
	font-size: 70px;
	font-family : Courier New;
	background-color : white;
	text-align : center;
	width = 100%;
}

header strong
{
	font-family: 'pixels', Arial, serif;
	color: #008080;
}


nav
{
    display: inline-block;
    width: 15%;
    vertical-align: top;
    background-color: aliceblue;
    margin-left: 0px;
    padding-left: 4px;
}

nav a
{
	display: block;
}

.navTitle
{
    font-weight: bold;
	color : #4682B4;
}

section
{
    margin: auto;
	display: inline-block;
    vertical-align: top;
	width: 55%;
}

.authentification {
    position:fixed;
    right: 20px;
    top: 100px;
    height: 150px;
    width : 300px;
    background-color: #4682B4;
    border-radius: 20px;
	text-align : center;
}

.authentification h1{
	font-size : 20px;
}

.inscription {
    position:fixed;
    right: 20px;
    top: 300px;
    height: 170px;
    width : 300px;
   background-color: #4682B4;
    border-radius: 20px;
	text-align : center;
}

.inscription h1{
	font-size : 20px;
}

.creerProjet {
    
    right: 900px;
    top: 200px;
    height: 230px;
    width : 230px;
    background-image: url("projetBackground.jpg");
    border-radius: 20px;
	text-align : center;
}

footer
{
	text-align : center;
	background-color : #66CDAA;
	bottom : 0; left : 0; right : 0;
	position : fixed;
	height : 30px;
}